body{
    background-image: url('skull.png');
    
	color:white;
    margin:0px
    }
    .barra {
        font-family: 'Lato', sans-serif;
        /**Alto y ancho de donde se va a activar cuando pase el mouse**/
        width:10%;
        height:9%;
        /*Para que este siempre en la misma parte de la pantalla aunque se haga scroll*/
        position:fixed;
        /*Tiempo en el que va a transitar la animacion*/
        transition: .4s all ;
        /*este arriba de todo en la pantalla*/
        z-index: 1;  
    }
    
    .barra ul{
        /*solucionar espacios no deseados*/
        padding:0px;
        text-align: center;
            
    }
    .barra  li{
        /*Velocidad de transicion del contenido*/
        transition:all .3s;
        list-style: none; 
    }
    
    .barra a{
        text-decoration: none;
        
        font-weight: normal;
        
        /*La letra crece con el menu de esta manera no se va a ver como se ajusta al margen mientras crece*/
        transition: .3s all ;
        /*Se ocultan los elementos*/
        font-size: 0px;
        padding:0px;
    }
    
    .barra  h2{
        text-align: center;
        color:white;
        padding:7px;
        padding-bottom:7px;
    
        /*Se oculta el h2*/
        font-size:0px;   
    }
    
    .barra img{
        padding-top: 30px;
        padding-left: 10px;
    }
    
    .barra:hover{
        /*Tamaño cuando el cursor señale la barra*/
        width: 70%;
        height: 100vh;
        
        /*Color*/
        background-image: url('skulls.jpg');
        background-size: cover;
    }
    .barra:hover h2{
        /*posicion dentro de barra del h2*/
        padding:15px;
        font-size: 35px;
    }
    .barra:hover a{ 
        font-size:20px ;
        color:white;
        /*Se usa el display block para que el enlace respete el margin*/
        display: block;
        padding:20px;
    }
    .barra:hover img{
        /*Desaparecer la imagen*/
        height:0px;
    }
    
    
    .barra:hover li{
        border-top:1px solid white;
        /*Espacios entre las lineas y el contenido*/
        
        width:100%;
            
    }
    .barra:hover ul:last-of-type{
    
    
        border-bottom: 1px solid #03121b;
    }
    
    .barra:hover a:hover{ 
        font-size: 25px;
        padding: 30px 0px; 
        background: rgba(23, 78, 112, 0.98);  
    }
    nav{
        width: 100%;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-between;
        background-color: rgba(0, 0, 0,.3);
        padding: auto;
    }
    nav a{
        margin-left: 20px;
        margin-right: 30px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 25px;
        transition: all ease 300ms;
    }
    nav a:hover{
        color: black;
        font-size: 20px;
    }
    nav li{
        list-style: none;
    }
    table{
        background-color: wheat;
    }
    td{
        color: black;
    }
    @media (min-width: 768px){
        .barra:hover{
        width: 45%;
        }
    }
    @media (max-width: 768px) {
        nav a{
            font-size: 12.5px;
        }
      }

    